* {
    margin: 0;
    padding: 0;

}

.body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
}

.contain {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../css/img/header_1.png);
}

.logo {
    margin-left: 80px;
    margin-top: 8px;
    width: 185px;
    height: 50px;
    display: inline-block;
}

.logo img {
    margin-top: -20px;
    margin-left: 250px;
}

.menu {
    display: flex;
    padding-top: 145px;
}

.selected a,
a a:hover {
    text-decoration: none;
    color: #0a122f;
}

.selected_1 a,
a:hover {
    text-decoration: underline #de4b12;
    color: #0a122f;
}

ul.menu li {
    list-style: none;
}

ul.menu li a {
    font: bold 100% 'Myriad Pro';
    font-size: 25px;
    padding-left: 60px;
}

.title {
    font-size: 122px;
    padding-top: 185px;
    margin-left: 60px;
    font-style: italic;
    font-weight: lighter;
}

.title_name {
    margin-top: 45px;
    font-family: serif;
    font-size: 33px;
    margin-left: 60px;
    color: #de4b12;
}

.title_description {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 60px;
}

.button {
    background-color: #de4b12;
    padding: 1%;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
    border-style: none;
}

.button a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    font-family: serif;
}

.button_2 {
    background-color: #de4b12;
    padding: 3%;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-top: 30px;
    border-style: none;
}

.button_2 a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    font-family: serif;
}


.container {
    display: flex;
    min-height: 635px;
    height: 100%;
}

.container_description {
    background-color: #1e2842;
    color: #ffffff;
    font: normal 100% 'Myriad Pro';
    min-width: 420px;
    width: 100%;
    min-height: 635px;
    height: 100%;
    margin-left: 85px;
    padding-top: 185px;
}

.container_description p {
    display: inline;
    float: right;
    width: 45%;
    margin-top: 17%;
}

.container_description img {
    max-height: 16%;
    max-width: 59%;
    width: 55%;
}


.container_2 {
    display: flex;
    flex-direction: row-reverse;
    min-height: 635px;
    height: 100%;
    margin-left: -85px;
}

.container_description_2 {
    background-color: #1e2842;
    color: #ffffff;
    font: normal 100% 'Myriad Pro';
    min-width: 420px;
    width: 100%;
    min-height: 635px;
    height: 100%;
    margin-left: 85px;
    padding-top: 185px;
}

.container_description_2 p {
    display: inline;
    float: left;
    width: 40%;
    margin-top: 17%;
}

.container_description img {
    max-height: 16%;
    max-width: 59%;
    width: 55%;
}



.sticker {
    margin: 60px;
}

.container_description_3 {
    display: flex;
    border: solid 3px #1e2842;
    max-height: 554px;
    height: 100%;
    margin: 20px 40px;
    padding-right: 60px;
}

.text h2 {
    font-size: 65px;
    margin-top: 115px;
    margin-left: 8px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px;
}

.text h3 {
    font-style: sans-serif;
    font-weight: bold;
    font-size: 35px;
    border: solid 3px #c24c1c;
    border-radius: 12px;
    background: #e5b5a1;
    display: inline-block;
    padding: 10px 35px;
    margin-left: 40px;

}


.text p {
    font: normal 100% 'Myriad Pro';
    margin-top: 45px;
    margin-left: 13px;
    text-align: center;
    line-height: 140%;
}


.information {
    height: 500px;
    background: #f6f6f4;
    margin: 50px 40px;
}

.information h1 {
    text-align: center;
    font: 100% 'Myriad Pro';
    font-size: 55px;
    color: #1d2842;
}

.information p {
    padding-right: 120px;
    padding-left: 120px;
    margin-top: 40px;
    line-height: 140%;
    text-align: center;
}

.dline {
    text-align: center;
}

/* Перевести все в залоголовки h1 і дати один стиль для всіх */

.info {
    display: flex;
    color: #ffffff;
    background: #0b132f;
    margin-left: 55px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 55px;

}

.customer h1 {
    text-align: center;
    font: 100% 'Myriad Pro';
    font-size: 55px;
    color: #1d2842;
    margin-bottom: 55px;
}

.customer h2 {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: normal;
}

.review p {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 19px;
    line-height: 140%;
}

.review {
    width: 100%;
}

.work {
    margin: auto center;
}

.work h1 {
    text-align: center;
    font: 100% 'Myriad Pro';
    font-size: 55px;
    color: #1d2842;
    margin-top: 110px;
    margin-bottom: 40px;
}

.work p {
    text-align: center;
    border: solid 3px #304068;
    background: #304068;
    height: 150px;
    width: 630px;
    margin: auto;
    color: white;
    padding-top: 50px;
    font-size: 50px;
    margin-bottom: 65px;
    box-shadow: 5px 5px 4px #676666;
}

.city_title h1 {
    text-align: center;
    font-size: 55px;
    color: #1d2842;
    font-weight: lighter;
}

.city img {

    width: 330px;
    height: 180px;
    margin-bottom: 200px;
    margin-top: 75px;
}

.city {
    display: flex;
    justify-content: space-around;
}


.container_cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 160px;
    margin-top: 50px;
}

.container_cards img {
    width: 330px;
    height: 180px;
    background: #6e78b7;
}

.card_1 {
    background: #304068;
    margin-top: 0px;
    width: 330px;
    box-shadow: 5px 5px 4px #676666;
}

.card_1 button {
    background-color: #de4b12;
    padding: 3%;
    border-radius: 13px;
    width: 215px;
    text-align: center;
    margin-top: 30px;
    border-style: none;
}

.card_1 a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    font-family: serif;
}

.text_1 {
    width: 285px;
    height: 185px;
    background: #0b132f;
    margin: 20px 20px 20px 20px;
}

.text_1 p {
    color: #ffffff;
    text-align: center;
    padding: 40px 20px 40px 20px;
}

footer {
    background: #1e2842;
    color: #f6f6f4;
    display: flex;
    height: 470px;
}

footer h2 {
    font: bold 100% 'Myriad Pro';
    font-size: 29px;
    padding-bottom: 50px;
}

.footer_logo img {
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 370px;
    padding-bottom: 265px;
}

.footer_information h2 {
    padding-top: 100px;
}


.footer_information a {
    text-decoration: none;
    font-size: 22px;
    font-family: 'Myriad Pro';
    color: #ffff;
    letter-spacing: 1px;
    line-height: 1.7;

}

.footer_contacts {
    padding-top: 100px;
    padding-left: 160px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Myriad Pro';
    letter-spacing: 1px;
    line-height: 1.7;
}

.footer_menu {
    display: flex;


}

.footer_menu a {
    text-decoration: none;
    font-size: 22px;
    font-family: 'Myriad Pro';
    color: #ffff;
    letter-spacing: 1px;
    line-height: 1.7;
    padding-left: 42px;


}

hr {
    height: 1px;
    background: rgb(15, 10, 10)
}

/*Лінія - початок*/
.custom-shape-divider-top-1649950587 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: yellow;
}

.custom-shape-divider-top-1649950587 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
}

.custom-shape-divider-top-1649950587 .shape-fill {
    fill: #222894;
}
